.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.files {
    background-color: #FF9494;
    border: 1px solid;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}