.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.rss {
    background-color: #FF9494;
    border: 1px solid;
    border-radius: 5px;
    height: 140px;
    width: 150px;
    margin: 1rem;
}

.rss img {
    padding: 25% 30%;
}

.rss p {
    color: aliceblue;
    font-style: italic;
    align-self: baseline;
    text-align: center;
}